
body{
  background-color: #7EC855;
  font-family: 'Roboto', sans-serif;
}

.shopping-cart{
    margin-top: 70px;
    margin-left: 30px;
}
.container{
	width: 750px;
	height: 400px;
    margin: auto;
    border-radius: 6px;
    background-color: white;
}
.header{
    
    padding: 1px;
    color:  #5e6977;
    border-bottom: 1px solid #E1E8EE;
}
.header-title{
	margin-left:30px;
	 font-family: 'Roboto', sans-serif;
	color: #43484d;
}
.item{
	display:flex;
    padding: 15px 0px;
  
}
.item:nth-child(2) {
  border-top:  1px solid #E1E8EE;
  border-bottom:  1px solid #E1E8EE;
}

.remove-btn{
	margin: auto;
}
.btn{
	border: none;
    background: none;
}
.like-btn{
	background: url("images/twitter-heart.png");
    background-size: cover;
    margin-top: 9;
    width: 60px;
    height: 60px;
    background-position: left; 
}
.like-btn:hover{
    animation-name: liked;
    animation-iteration-count: 1;
    animation-duration: 8s;
    animation-timing-function: steps(28);
    animation-fill-mode: forwards;
}
@keyframes liked{
    0%{
        background-position: left;
    }
    50%{
        background-position: right;
    }
    100%{
        background-position: right;
    }
}
.product{
	margin: auto;
}
.description{
	margin: auto 45px;
	width: 140px ;
	color: #43484d;
}
.description span{
	display: block;
}
.quantity{
	margin: auto;
}
.plus-btn{
	padding: 10px;
    border-radius: 15%;
    border: none;
    background: none;
    background-color: #e1e8ee;
}
.minus-btn{
	width: 34px;
    height: 31px;
    padding: 6px;
    border-radius: 15%;
    border: none;
    background: none;
    background-color: #e1e8ee;
}
.minus-btn img{
	padding: 3px;
}
.total-amt{
	color: #5f6265 !important;
	margin: auto;
}
span:first-child{
	margin-bottom: 5px;
}
.description span:last-child{
	color: #A8B1B9;
	margin-top: 5px;
}
input{
  border: none;
  width: 30px;
  text-align: center;
}
